<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <title>Sign Up</title>
  </head>
  <body class="h-screen text-zinc-200 bg-gray-600">
    <%- include("appHeader", {user: locals.user}) %>
    <main class="box-content h-full bg-gray-900 p-3 flex justify-center items-center">
      <!-- form submission errors -->
      <% let firstname, lastname, email ,password, confirmPassword %>
      <% if (locals.error && locals.error.length > 0) { %>
        <% locals.error.forEach(error => { 
            const message = error.msg + " " + "your input was " + (error.value || "empty")
            if (error.path === "firstname") {
                firstname = message; 
            }   else if (error.path === "lastname") { 
                lastname = message; 
            }   else if (error.path === "email") { 
                email = message; 
            }   else if (error.path === "password") { 
                password = message; 
                confirmPassword = "Confirm Password field can't be empty your input was " + (error.value || "empty");
            }   else { 
                password = message;
                confirmPassword = message; 
            } 
        }) %>
    <% } %>

      <form
        class="rounded-3xl h-min shadow-lg shadow-gray-500/50 bg-white text-black p-3 flex flex-col gap-2 min-w-[40%] max-w-[40%]"
        action="/sign-up"
        method="post"
      >
        <div class="flex gap-4 items-center justify-between">
          <h1 class="border-b-2 border-black max-w-max text-2xl font-bold mb-3">
            Sign Up
          </h1>
          <svg class="size-10" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.4856 20H19.4856C20.5902 20 21.4856 19.1046 21.4856 18V6C21.4856 4.89543 20.5902 4 19.4856 4H15.4856V6H19.4856V18H15.4856V20Z" fill="#000000"></path> <path d="M10.1581 17.385L8.73788 15.9768L12.6571 12.0242L3.51415 12.0242C2.96187 12.0242 2.51416 11.5765 2.51416 11.0242C2.51416 10.4719 2.96188 10.0242 3.51417 10.0242L12.6763 10.0242L8.69587 6.0774L10.1041 4.6572L16.495 10.9941L10.1581 17.385Z" fill="#000000"></path> </g></svg>
        </div>
        <div class="flex flex-col">
          <label for="firstname"
            >First Name <span class="text-red-600">*</span></label
          >
          <input
            class="px-2 py-1 placeholder:italic flex-1 min-w-32 border-2 border-black/50"
            type="text"
            id="firstname"
            name="firstname"
            placeholder="Mohammad"
          />
          <span class="text-red-600"><%= firstname || ""  %></span>
        </div>

        <div class="flex flex-col">
          <label for="lastname"
            >Last Name <span class="text-red-600">*</span></label
          >
          <input
            class="px-2 py-1 placeholder:italic flex-1 min-w-32 border-2 border-black/50"
            type="text"
            id="lastname"
            name="lastname"
            placeholder="Ahnaf"
          />
          <span class="text-red-600"><%= lastname || "" %></span>
        </div>

        <div class="flex flex-col">
          <label for="email">Email <span class="text-red-600">*</span></label>
          <input
            class="px-2 py-1 placeholder:italic flex-1 min-w-32 border-2 border-black/50"
            type="email"
            id="email"
            name="email"
            placeholder="ahnaf@example.com"
          />
          <span class="text-red-600"><%= email || ""  %></span>
        </div>

        <div class="flex flex-col">
          <label for="password"
            >Password <span class="text-red-600">*</span></label
          >
          <input
            class="px-2 py-1 placeholder:italic flex-1 min-w-32 border-2 border-black/50"
            type="password"
            id="password"
            name="password"
            placeholder="*****"
          />
          <span class="text-red-600"><%= password || "" %></span>
        </div>

        <div class="flex flex-col">
          <label for="confirm"
            >Confirm Password <span class="text-red-600">*</span></label
          >
          <input
            class="px-2 py-1 placeholder:italic flex-1 min-w-32 border-2 border-black/50"
            type="password"
            id="confirm"
            name="confirm"
            placeholder="*****"
          />
          <span class="text-red-600"><%= confirmPassword || "" %></span>
        </div>

        <div class="mt-3 flex">
          <div class="flex flex-1 justify-between gap-6 items-center font-bold">
            Have an account?
            <a
              class="font-normal shadow-2xl shadow-cyan-700/80 hover:bg-white hover:text-blue-800 hover:border-blue-700 border-2 rounded-full px-3 py-2 bg-blue-400"
              href="/sign-in"
              >Log In</a
            >
          </div>
        </div>

        <div class="mt-3 flex">
          <button
            class="border-2 hover:bg-white hover:border-blue-700 shadow-2xl flex-1 py-2 shadow-cyan-700/80 rounded-full bg-blue-400 hover:text-blue-800"
            type="submit"
          >
            Sign Up
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
